<div class="container">
  <div class="row">
    <div class="col-sm gamesCard">

      <div class="card-body">
        {{#if message}}
        <h2>{{message}}</h2>
        <div class="col">
          <a name="" id="" class="btn buttonChoiceGame" href="/game/newGame" role="button">
            <h4>Create Game</h4>
            <p>Create your own game and invite your friends to start a challenge</p>
          </a>

        </div>
        {{/if}}
        {{#each games}}
        <div class="cardGames">
          <h2 class="card-title">{{name}}</h2>
          <h5 class="card-subtitle mb-2 ">{{map.mapDescription}}</h5>
          <p class="card-text">{{state}}</p>
          <a href="/game/joinGame/{{_id}}" class="card-link">Join</a>

        </div>
        {{/each}}
      </div>
    </div>


  </div>